.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #FFFFFF;
    border-bottom: 1px solid var(--border-light);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.nav{
    display: flex;
     gap: 32px;
}
.hero-section {
    background-image: url(./assets/banner.jpg);
    color:#f7f1f1;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 300px;
}
.speakers-section {
    padding: 80px 8%;
    max-width: 1200px;
    margin: 0 auto;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.speaker-card {
    background: #f7f1f1;
    border-radius: 10px;
    overflow: auto;
    border: 2px solid var(--border-light);
    display: flex;
    flex-direction: column;
}

.speaker-image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.speaker-info {
    padding: 24px;
}

.speaker-tag {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-bottom: 8px;
}

.tickets-section{
  text-align: center;
}
.pricing-section {
    padding: 80px 8%;
    max-width: 1200px;
    margin: 10 auto;
    display:flex;
    justify-content: center;
}
.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.pricing-card {
    background: white;
    border-radius: 10px;
    overflow: auto;
    border: 2px solid var(--border-light);
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.pricing-card-featured {
  padding: 80px 8%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
   background-color: #19192f;
   color:#FFFFFF;
   
}
  

.pricing-card{
padding: 80px 8%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
   background-color: #d2d2f1c7;
}
